.medium-editor-toolbar {
    background-color: $main-color;
}

.medium-toolbar-arrow-under:after {
    border-color: $main-color transparent transparent;
}

.medium-editor-toolbar li button {
    border-right-color: $lightblue;
    border-radius: 0;
}

.medium-editor-toolbar li button:hover {
    background-color: $lightblue;
    border-radius: 0;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    background-color: $main-color;
}

.medium-editor-toolbar li .medium-editor-button-active {
    background-color: $lightblue;
}

.medium-editor-toolbar-form-active {
    visibility: visible;
    background-color: $main-color;
}