.background--blue {
    background-color: $main-color;
}

.background--highlight {
    background-color: $highlight;
}

.background--gray, .background--grey {
    background-color: $gray;
}

.text--white {
    color: #ffffff;
}

.text--main {
    color: $main-color !important;
}

.text--highlight {
    color: $highlight !important;
}

.material-icon {
    font-family: 'Material Icons';
}

.no-after::after {
    content: none !important;
}