.background--blue {
    background-color: $blue;
}

.background--orange {
    background-color: $orange;
}

.background--gray, .background--grey {
    background-color: $gray;
}

.text--white {
    color: #ffffff;
}