.whole-page-flex {
  width: 100vw;
  height: 60vh;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  flex-flow: column nowrap; }

#template-blocks {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  width: 250px;
  background-color: #ffffff;
  top: 0;
  line-height: 1.5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
  z-index: 10;
  height: 100vh;
  overflow-y: scroll;
  transition: all .25s ease; }
  #template-blocks ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    position: relative; }
  #template-blocks__toggle {
    position: fixed;
    height: 30px;
    padding: 0 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .1em;
    top: 0;
    background-color: #67809F;
    z-index: 10;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .25s ease, right .25s ease;
    transform: rotate(-90deg);
    transform-origin: bottom right; }
    #template-blocks__toggle:hover {
      cursor: pointer;
      opacity: .5; }

#import-template-blocks-button {
  width: calc(100% - 40px); }

.template-blocks--visible {
  right: 0; }

.template-blocks--hidden {
  right: -250px; }

.template-blocks__toggle--visible {
  right: 250px; }

.template-blocks__toggle--hidden {
  right: 0; }

.template-blocks__block {
  border: solid 1px #e5e5e5;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.075);
  transition: all .25s ease;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }
  .template-blocks__block:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.075);
    transform: translate(4px, -4px);
    cursor: move; }
  .template-blocks__block__title {
    font-size: 13px;
    color: #67809F;
    margin: 0;
    margin-bottom: 5px; }
  .template-blocks__block__image {
    width: 100%;
    opacity: 1;
    transition: all .25s ease; }
  .template-blocks__block__description {
    font-size: 11px;
    color: #808080; }

#draggable-area {
  border: 2px dashed #67809F;
  width: 600px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #67809F;
  transition: all .25s ease;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.email-block {
  position: relative;
  overflow: hidden; }
  .email-block:hover .email-block__exit-icon {
    opacity: 1;
    right: calc(50% - 300px - 50px); }
  .email-block:hover .email-block__move-icon, .email-block:hover .email-block__move-top-icon, .email-block:hover .email-block__move-bottom-icon {
    opacity: 1;
    left: calc(50% - 300px - 50px); }
  .email-block:hover .email-block__line {
    opacity: 1;
    height: 100%; }
  .email-block__line {
    display: block;
    height: 0;
    width: 3px;
    background-color: #67809F;
    position: absolute;
    top: 0;
    left: calc(50% - 300px - 13px);
    opacity: 0;
    transition: all .25s ease; }
  .email-block__exit-icon, .email-block__move-icon, .email-block__move-top-icon, .email-block__move-bottom-icon {
    font-family: 'Material Icons';
    position: absolute;
    transition: all .25s ease;
    background-color: #67809F;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    opacity: 0;
    cursor: pointer; }
    .email-block__exit-icon:hover, .email-block__move-icon:hover, .email-block__move-top-icon:hover, .email-block__move-bottom-icon:hover {
      background-color: #00B16A; }
  .email-block__exit-icon {
    font-size: 15px;
    top: 0;
    right: calc(50% - 300px - 75px); }
    .email-block__exit-icon:hover {
      background-color: #ff0000; }
  .email-block__move-icon {
    font-size: 15px;
    top: 0;
    left: calc(50% - 300px - 75px);
    cursor: move; }
  .email-block__move-top-icon {
    font-size: 14px;
    left: calc(50% - 300px - 100px);
    top: 30px; }
  .email-block__move-bottom-icon {
    font-size: 14px;
    position: absolute;
    left: calc(50% - 300px - 125px);
    top: 60px; }

#download {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0;
  transition: all .25s ease;
  cursor: pointer; }
  #download__icon {
    font-family: 'Material Icons';
    font-size: 25px; }
  #download__caption {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-left: 5px; }
  #download:hover {
    opacity: .5; }

.editor {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll; }
  .editor__box {
    background-color: #ffffff;
    height: 35vh;
    width: 30vw;
    min-width: 500px;
    min-height: 300px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative; }
  .editor__buttons-row {
    width: 100%;
    display: flex;
    padding-top: 20px; }
    .editor__buttons-row .button {
      margin: 0;
      margin-left: 10px; }
      .editor__buttons-row .button:first-of-type {
        margin: 0; }

#editor__link__preview {
  border: solid 1px #e5e5e5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1; }
  #editor__link__preview::before {
    content: "Link Preview:";
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px; }

#editor__image__box {
  width: 70vw;
  height: 50vh;
  min-width: 700px;
  min-height: 500px;
  flex-flow: row nowrap; }

#editor__image__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid 1px #e5e5e5;
  padding: 20px;
  width: 50%;
  position: relative; }
  #editor__image__preview__dimensions {
    position: absolute;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0;
    padding: 3px 6px;
    font-size: 9px; }

#editor__image__settings {
  padding: 0;
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between; }
  #editor__image__settings__inputs {
    padding-bottom: 20px; }
  #editor__image__settings__bank {
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    font-size: 13px;
    color: #67809F;
    font-weight: bold;
    border: solid #e5e5e5 1px;
    overflow-y: scroll;
    padding: 10px;
    flex-shrink: 1;
    height: 50%; }
    #editor__image__settings__bank ul {
      padding: 0;
      list-style-type: none;
      margin: 0;
      margin-top: 10px;
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      font-size: 0;
      margin-bottom: 20px; }
      #editor__image__settings__bank ul li {
        width: calc(100%/4 - 10px - 2px);
        border: solid 1px #e5e5e5;
        margin: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: calc(100%/4 - 10px - 2px);
        cursor: pointer;
        transition: all .25s ease; }
        #editor__image__settings__bank ul li:hover {
          border: solid 1px #67809F; }

#download-box__code {
  resize: none;
  width: 100%;
  flex-grow: 1;
  border: 1px solid #e5e5e5;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
  color: #808080; }

#download-box__button {
  width: 100%;
  max-width: none; }

#download-box__code__title {
  text-align: center;
  display: block;
  color: #67809F;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px; }

#download-box .editor__box {
  justify-content: space-between; }

#download-box .editor__buttons-row {
  padding-top: 40px; }

#home-navigation {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  background-color: #67809F; }
  #home-navigation ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    float: right; }
    #home-navigation ul li {
      float: left;
      padding: 30px 30px 30px 0; }
      #home-navigation ul li a {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .05em;
        transition: all .25s ease;
        cursor: pointer; }
        #home-navigation ul li a:hover {
          opacity: .5; }
  #home-navigation__title {
    position: absolute;
    top: -5px;
    left: 0;
    padding-left: 30px !important; }
    #home-navigation__title a {
      font-size: 18px !important; }

.text-block {
  color: rgba(0, 0, 0, 0.75);
  padding: 100px 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.75;
  text-align: center; }
  .text-block h1 {
    text-align: center;
    color: #67809F; }
  .text-block h2 {
    font-size: 1.35em;
    color: #67809F; }
  .text-block h3 {
    color: #00B16A;
    display: inline; }
    .text-block h3 a {
      color: #00B16A;
      border-bottom: solid 3px #00B16A;
      transition: all .25s ease; }
      .text-block h3 a:hover {
        opacity: .5; }
  .text-block--gray {
    background-color: rgba(0, 0, 0, 0.075); }
  .text-block__wrapper {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 1300px; }

.class-definition {
  display: inline; }
  .class-definition::after {
    content: '';
    display: block;
    height: 20px; }

.html-element-text {
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 3px;
  display: inline-block;
  font-size: 12px;
  color: #67809F;
  padding: 1px 3px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.5); }
  .html-element-text:before {
    content: '<'; }
  .html-element-text:after {
    content: '>'; }

#template-code-sample {
  resize: none;
  width: 100%;
  height: 250px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #e5e5e5;
  font-size: 13px; }

#logo-icon {
  border: solid 3px #ffffff;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 15px; }

#features ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #features ul li {
    display: inline-block;
    width: calc(100%/3 - 40px);
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    text-align: center;
    padding: 20px; }

#features p {
  margin: 0; }

#features img {
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  margin: 20px; }

.background--blue {
  background-color: #67809F; }

.background--highlight {
  background-color: #00B16A; }

.background--gray, .background--grey {
  background-color: #e5e5e5; }

.text--white {
  color: #ffffff; }

.text--main {
  color: #67809F !important; }

.text--highlight {
  color: #00B16A !important; }

.material-icon {
  font-family: 'Material Icons'; }

.no-after::after {
  content: none !important; }

#import-input {
  border: solid 2px #ffffff;
  display: flex;
  position: relative;
  opacity: 1;
  transition: all .25s ease; }
  #import-input:hover {
    opacity: .75; }
  #import-input__button {
    background-color: #ffffff;
    color: #67809F;
    padding: 10px 15px;
    font-weight: bold; }
  #import-input__file-name {
    padding: 10px; }
  #import-input__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }

.button {
  position: relative;
  transition: all .25s ease;
  margin: 20px;
  flex-grow: 1;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 13px;
  width: 100%;
  border: 0;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }
  .button:hover {
    opacity: .75; }
  .button input[type=file] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }

.input-container__text-line {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px; }
  .input-container__text-line:last-of-type {
    margin-bottom: 0; }
  .input-container__text-line label {
    padding-right: 10px;
    font-weight: bold;
    color: #67809F;
    font-size: 13px; }
  .input-container__text-line input {
    flex-grow: 1;
    border: 0;
    border-bottom: solid 1px #e5e5e5;
    font-size: 11px;
    padding: 5px; }
  .input-container__text-line button {
    align-items: center;
    font-size: 10px;
    margin-left: 10px;
    border: 0;
    background-color: #e5e5e5;
    padding: 5px 7.5px;
    letter-spacing: .05em;
    transition: all .25s ease;
    cursor: pointer; }
    .input-container__text-line button:hover {
      background-color: #808080; }

.removable, .clearable, .removable-undo, .clearable-undo {
  transition: all .25s ease; }

.removable-undo, .clearable-undo {
  overflow: hidden; }

#remove-class {
  position: absolute;
  margin: 0;
  transition: opacity .25s ease;
  opacity: 0;
  cursor: pointer; }
  #remove-class:hover {
    opacity: 1 !important; }
  #remove-class__delete-icon, #remove-class__undo-icon, #remove-class__add-icon, #remove-class__up-icon, #remove-class__down-icon {
    font-family: 'Material Icons';
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #67809F;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s ease; }
    #remove-class__delete-icon:hover, #remove-class__undo-icon:hover, #remove-class__add-icon:hover, #remove-class__up-icon:hover, #remove-class__down-icon:hover {
      background-color: #00B16A; }
  #remove-class__add-icon {
    right: -30px; }
  #remove-class__up-icon {
    right: -60px; }
  #remove-class__down-icon {
    right: -90px; }
  #remove-class__delete-icon:hover {
    background-color: red; }

.clearable-undo-absolute-position {
  position: absolute;
  overflow: hidden;
  height: 15px;
  transition: all .25s ease; }

a.editable:hover::after {
  content: " edit link";
  color: #00B16A;
  font-style: oblique;
  font-size: 10px; }

img.editable, img.editable-fixed {
  cursor: pointer; }

.medium-editor-toolbar {
  background-color: #67809F; }

.medium-toolbar-arrow-under:after {
  border-color: #67809F transparent transparent; }

.medium-editor-toolbar li button {
  border-right-color: #34495E;
  border-radius: 0; }

.medium-editor-toolbar li button:hover {
  background-color: #34495E;
  border-radius: 0; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background-color: #67809F; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #34495E; }

* {
  box-sizing: border-box; }

*:focus {
  outline: none; }

.unwrap, .repeatable {
  transition: all .25s ease; }

body {
  overflow-x: hidden; }
