// VARIABLES

$main-color: #67809F;
$lightblue: #34495E;
$highlight: #00B16A;
$red: #ff0000;
$gray: #e5e5e5;

// IMPORTS
@import 'structural';
@import 'properties';
@import 'forms';
@import 'remove-clear';
@import 'medium-editor';

// DEFAULTS

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.unwrap, .repeatable {
    transition: all .25s ease;
}

body {
    overflow-x: hidden;
}